@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container-landing {
  background-image: url("../assets/images/Background-landing.webp");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 75% 100%;
}

.animate {
  animation-name: animate;
  animation-duration: 0.8s;
}

@keyframes animate {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-SemiBold.ttf"),
    url("../assets/fonts/OpenSans-Semibold.ttf") format("truetype"),
    url("../assets/fonts/OpenSans-Semibold.ttf") format("tff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-ExtraBold.ttf"),
    url("../assets/fonts/OpenSans-ExtraBold.ttf") format("truetype"),
    url("../assets/fonts/OpenSans-ExtraBold.ttf") format("tff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf"),
    url("../assets/fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../assets/fonts/OpenSans-Bold.ttf") format("tff");
  font-weight: 700;
  font-style: normal;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
